.navbar-default {
	background-color: #333;
	margin-bottom: 0;
}

/*.navbar {
	border:0;
}*/

.navbar-default .navbar-nav>li>a {
	color: white;	
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: blue;
	 background-color: white;
}
.navbar-nav>li {
	    font-size: medium;
	    margin-right: 15px;
}

header {
	background-image: url("http://cmatesolutions.com/wp-content/uploads/2015/09/technology.jpg");

	background-size: cover;

	
}
.background {
	background-color: black;
	/*min-height: 500px;*/
	opacity: .7;
	min-height: 500px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}


h1 {
	font-size: -webkit-xxx-large;
	font-weight: bold;
	text-align: center;
}



#section1 {
   	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: floralwhite;
    font-family: monospace;
    font-size: larger;
}
    
/* Progress bar */
.col-centered{
    float: none;
    margin: 0 auto;
}
/*               */

.page-header {
	margin: 0;
}

.projets a:hover {
	background-color: grey;
}

.row {
	margin-top: 15px;
}

.images {
	text-align: center;
	background-color: #EBEBEB;
}

.realisations h1 {
   color: #132743;
   margin-top: 0;

}

.realisations, #section3{
	background-color: #EBEBEB;
}

/* HOVER IMAGE BOOTSTRAP */

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.hovereffect h3 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

#section2 h2, #section2 h3 {
	margin-top: 120px;
}



@media screen and (max-width: 500px) {
  #section2 h2, #section2 h3 {
	margin-top: 30px;
}
.hovereffect a.info {
	margin-top: 0;
}
.col-xs-10 {
	width: 100%;
	margin-top: 10px;
}
}